@font-face {
  font-family: 'ArialExtraBold';
  src: url('ArialMTStdExtraBold.otf');
}
body {
  background-color: #F88C58;
}
img {
  left: 75px;
  position: absolute;
  top: 460px;
}
input {
  position: absolute;
  top: 600px;
}
li {
  color: #1D0800;
  font-family: 'ArialExtraBold';
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.1px;
  line-height: 19.9px;
  list-style: none;
  text-transform: uppercase;
  word-spacing: 2px;
}
ul {
  display: inline-block;
  margin: 0;
  position: absolute;
}
#one {
  left: 8px;
  top: 38px;
}
#two {
  left: 10px;
  top: 160px;
}
#three {
  left: 6px;
  top: 308px;
}
#four {
  left: 179px;
  top: 97px;
}
#five {
  left: 178px;
  top: 229px;
}
#six {
  left: 185px;
  top: 385px;
}
#seven {
  left: 339px;
  top: 87px;
}
#eight {
  left: 341px;
  top: 236px;
}
#nine {
  left: 323px;
  top: 375px;
}
